%script
  $('.datepicker').fdatepicker()

= form_for(@dodo) do |f|
  - if @dodo.errors.any?
    #error_explanation

      %ul
      - @dodo.errors.full_messages.each do |msg| 
        %li= msg 
      - @end

  .field
    = f.label :name 
    = f.text_field :name 

  .field
    = f.label :complete 
    = f.check_box :complete


  .field
    = f.label :ranking
    = f.text_field :ranking 

  .actions
    = f.submit
