- content_for :main do
  /-- Data table initialization
  %script{ :type=> "text/javascript" }  
    $(document).ready(function() {	  $('#dodolist').dataTable();    } );

  /-- Task Table layout
  %table#dodolist
    %thead
      %tr
        %th Name
        %th Red List Index*
        %th Created
    %tbody
      - @dodos.each do |dodo|
        %tr{ :class => "odd gradeX"}
          %td= dodo.name
          %td
            %ul
              - if dodo.complete
                %li                
                  %i{:class => "fi-skull style1"}   
                    = link_to 'Extinct', dodo
              - else
                %li
                  %i{ :class => "fi-paw style3"}
                    = link_to "Living", dodo
            %td= link_to dodo.created_at.strftime("%m/%d/%Y"), dodo
      - @end
      %br
      .dataTables_info
        = link_to "**Red List Index", "http://www.iucnredlist.org/",
        { :class=> "dataTables_info"}

- content_for :sidebar do
  #frame
    -tag_cloud Dodo.tag_counts, %w[s m l] do |tag, css_class|
      = link_to tag.name, tag_path(tag.name), class: "fi-price-tag note sticky1"

