%script{ :type=> "text/javascript" }  
  $(document).ready(function() {	  $('#example').dataTable();    } );


%table#example
  %thead
    %tr
      %th Name
      %th Done?
      %th Status
      %th Created
  %tbody
    - @dodos.each do |dodo|
      %tr{ :class => "odd gradeX"}
        %td= dodo.name
        %td
          - if dodo.complete
            = link_to 'Done', dodo, :class=>"check"
          - else
            = link_to 'Note', dodo, :class=>"uncheck"
        %td= link_to 'Status', dodo
        %td= link_to dodo.created_at.strftime("%m/%d/%Y"), dodo
    - @end
%br

= link_to 'New Dodo', 
      { :action => :new },
      { :class=> "button secondary small radius"}
