%table
  %thead
    %tr
      %th Name
      %th Done?
      %th Created
      %th Preview
  %tbody
    - @dodos.each do |dodo|
      %tr
        %td= dodo.name
        %td
          - if dodo.complete
            = link_to 'Done...', dodo
          - else
            .badge.badge_important Incomplete
        %td= dodo.created_at.strftime("%m/%d/%Y")
        %td= link_to 'Preview...', dodo
    - @end
%br

= link_to 'New Dodo', 
      { :action => :new },
      { :class=> "button secondary small radius"}
