%h1 Listing dodos

%table
  %thead
    %tr
      %th Name
      %th Done?
      %th
      %th
      %th

  %tbody
    - @dodos.each do |dodo|
      %tr
        %td= dodo.name
        %td
          - if dodo.complete
            .complete_field.boolean_type Done
          - else
            .badge.badge_important Incomplete

        %td= link_to 'Show', dodo
        %td= link_to 'Edit', edit_dodo_path(dodo)
        %td= link_to 'Destroy', dodo, method: :delete, data: { confirm: 'Are you sure?' }
    - @end

%br

= link_to 'New Dodo', new_dodo_path
