%script{ :type=> "text/javascript" }  
  $(document).ready(function() {	  $('#example').dataTable();    } );


%table#example
  %thead
    %tr
      %th Name
      %th Done?
      %th Status
      %th Created
  %tbody
    - @dodos.each do |dodo|
      %tr{ :class => "odd gradeX"}
        %td= dodo.name
        %td
          %ul
            - if dodo.complete
              %li                
                %i{:class => "fi-skull style1"}   
                = link_to 'Extinct', dodo

            - else
              %li
                %i{ :class => "step fi-paw style3"}
                = link_to "Living", dodo
        %td= link_to 'Status', dodo
        %td= link_to dodo.created_at.strftime("%m/%d/%Y"), dodo
    - @end
%br

= link_to 'New Dodo', 
      { :action => :new },
      { :class=> "button secondary small radius"}
