%span.label.secondary New Dodo

%section.section_main      
  .row 
    .panel

      = form_for @dodo do |f|
        .row
          .small-8
            .row
              .small-3.columns
                = f.label :name, :class =>"right inline"
              .small-9.columns
                = f.text_field :name
          .small-8
            .row
              .small-3.columns
                = f.label :complete, :class =>"right inline"
              .small-9.columns
                = f.check_box :complete
          .small-8
            .row
              .small-9.columns
              .small-3.columns
                = f.submit 'Update', :class => "right inline"
            
= link_to 'Back', dodos_path,
  { :class=> "tiny button"}
