- content_for :main do
  %span.label Dodo details
  .panel
    %p#notice #{notice}

    %p
      %strong Name
      = @dodo.name

    %p
      %strong Created
      = @dodo.created_at.strftime("%m/%d/%Y")

  .row
    .small-9.large-6.columns
      %span.label.secondary Comments
      .comments
        = render :partial => 'comments/form', :locals => { :comment => @new_comment }      
        = render :partial => 'comments/comment', :collection => @comments, :as => :comment
    .small-3.large-6.columns
      %span.label.secondary Reference Links
    
  = link_to 'Edit', edit_dodo_path(@dodo) 
  |
  = link_to 'Back', dodos_path 

- content_for :sidebar do
  - if @dodo.tags.any?
    #frame
      - @dodo.tags.each do |tag| 
        = link_to tag.name, tag_path(tag.name), class: "fi-price-tag note sticky1"

