<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Dodo:Task Extinction.." %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag    "ligature" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <script type="text/javascript" language="javascript" src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <%= javascript_include_tag "jquery.dataTables.min" %>
    <%= javascript_include_tag "dataTables.foundation" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- ######################## Header ######################## -->
    <div class="header">
    


      <!-- ######################## Main Menu ######################## -->
      <div id="site_title">
	<img src="/assets/dodo.png" />
      </div>
      <ol id="menu">	
        <li class="active_menu_item"><%= link_to "Home", dodos_path %></li>
        <li><a href="#">Action</a>
	  <!-- Sub Menu -->
	  <ol>
	    <li class="has-flyout"><%= link_to "New", :action => :new %></li>
	    <li class="has-flyout"><a href="/dodos/delete">Delete</a></li>
	  </ol> 
        </li>
	
        <li class=""><a href="galleries.html">Search</a></li>
        <li class=""><a href="portfolio.html">Gallery</a></li>
	<% if user_signed_in? %>
	<li>
	  <%= link_to "Edit Profile", edit_user_registration_path, :class => 'navbar-link' %> 
	</li>
	<li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
	<% else %>
	<li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> </li>
	<li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
	<% end %>
      </ol>
    </div>
    <div>

    </div>
    

    <!-- ######################## Section ######################## -->
    <div id="container">
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
